.main{
    user-select: none;
    margin-left: 400px;
    position: relative;
    max-width: 100%;
}
.buttonc{
    position: absolute;
    margin-left: 300px;
    
}
.Pre{
    color: red;
}
.pagec{
    position: absolute;
    margin-left: 320px;
    margin-top: -30px;
}
@media screen and (max-width:700px)
{
    .main{
        margin-left:100px ;
    }
    .Pre{
        color: green;
    }
    .buttonc{
        position: absolute;
        margin-left: 250px;
        margin-top: 10px;
    }
    .pagec{
        margin-left: 270px;
    }
}
@media screen and (max-width:400px)
{
    .main{
        margin-left:100px ;
    }
    .Pre{
        color: green;
    }
    .buttonc{
        position: absolute;
        margin-left: 250px;
        margin-top: 10px;
    }
    .pagec{
        margin-left: 270px;
    }
}

@media screen and (max-width:1000px)
{
    .main{
        margin-left:100px ;
    }
    .Pre{
        color: yellow;
    }
    .buttonc{
        position: absolute;
        margin-left: 250px;
        margin-top: 10px;
    }
    .pagec{
        margin-left: 270px;
    }
}